MONGODB_USER=my-user
MONGODB_PASSWORD=my-pwd
MONGODB_URL=my-url
MONGODB_DB=my-db
PORT=3000
ACCESS_TOKEN_SECRET=my-token-secret
REFRESH_TOKEN_SECRET=my-refresh-secret

SMTP_HOST=my-smtp-host
SMTP_PORT=my-smtp-port
SMTP_USER=my-smtp-login
SMTP_PASSWORD=my-smtp-password
SMTP_FROM=my-smtp-email
APP_DOMAIN=https://nodejs-hw-mongodb-hrgw.onrender.com/auth
JWT_SECRET=my-jwt-secret


CLOUDINARY_CLOUD_NAME=My-cloud-name
CLOUDINARY_API_KEY=My-cloudinary-api-key
CLOUDINARY_API_SECRET=My-cloudinary-api-secret